**/bin
**/obj
**/out
**/publish
**/node_modules
.git
.gitignore
.vs
.vscode
Dockerfile.*
*.db
*.db-journal
*.db-shm
*.db-wal
*.mdf
*.ldf

# User secrets and environment files
secrets.json
*.user
*.swp
*.suo
*.tmp
*.log
.DS_Store
Thumbs.db

